
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libs/blend2d"]
	path = libs/blend2d
	url = https://github.com/blend2d/blend2d.git
[submodule "libs/yoga"]
	path = libs/yoga
	url = https://github.com/facebook/yoga
[submodule "libs/asmjit"]
	path = libs/asmjit
	url = https://github.com/asmjit/asmjit
