.DS_Store
.cache/
.vscode/
src/vs/
examples/gui_demo/components_hrcn/
vs/
cmake-build-debug-visual-studio/
cmake-build*/
cmake-build-debug/
cmake-build-default/
cmake-build-minsizerel/
cmake-build-release/
cmake-build-release64/

cmake-build-relwithdebinfo/
.idea/
build/